<div class="navbar nomargin color-white text-center">
	<div class="inline-block hide-on-mobile" style="float: left; min-width: 300px">
		<a href="/" class="logo" ripple>Tech Interview</a>
	</div>
  
	<div class="inline-block navlinks">
		<a href="/" <% if (title === 'Interview Questions') { %>class="current" <% } %>>Home</a>
		<a href="/about" <% if (title === 'About') { %> class="current" <% } %> >About</a>
		<a href="/contact" <% if (title === 'Contact') { %> class="current" <% } %> >Contact</a>
	</div>
</div>