<div class="toolbar dark-primary-color color-white">
	<button id="sideMenuToggle" class="icon-button default-primary-color"><i class="icon-menu"></i></button>
	<span class="toolbar-label">My app</span>
	<span class="float-right">
		<button class="icon-button"><i class="icon-star"></i></button>
	</span>
</div>