<% include ./partials/header %>
<div class="main-panel">
  <h1>About</h1>
  <div>
    <p class="info">This site is made to help aspiring developers prepare for technical interviews. We aim to create large collection of questions that interviewers may present the candidate, and provide plausible answers to them. We also feature a number of "take home" coding assingments that some companies may ask their candidates to solve.</p>
  </div>
  <div>
    <p class="info">As it is, number of questions is always growing, and while we are aware that this is by no means comprehensive database, we still hope that this will at least give you some idea on what to expect on your incoming technical interview. </p>
  </div>
  

<h2>Sounds good? </h2>
<h3><a href="/questions/javascript"><button class="button raised bg-amber-500 color-gray-900">Lets begin!</button></a></h3>
</div>




<% include ./partials/footer %>