<% include ./partials/header %>
<div class="main-panel">
<h1> Contact us </h1>


  <div class="formDiv">
  <form type = "submit">
      <input type="text" class="text-input" placeholder="Your name"/><br>
      <input type="text" class="text-input" placeholder="Your email"/><br>
      <textarea class="text-input" placeholder="Your message"></textarea><br>
      <button class="button raised">Submit</button>
  </div>
  </form>
</div>
<% include ./partials/footer %>